<div class="container text-md-center">

  <div class="row">

    <div class="col m-5 words">
      <b>Guess the song</b> <br />
      {{this.quiz.words}}
    </div>

  </div>

  <div class="row">

    <div class="col">
      <button type="button" class="btn btn-dark buttons" (click)="addQuiz(this.quiz.firstTrackId)">
        A. {{this.quiz.firstTrackTitle}}
      </button>
    </div>

    <div class="col">
      <button type="button" class="btn btn-dark buttons" (click)="addQuiz(this.quiz.secondTrackId)">
        B. {{this.quiz.secondTrackTitle}}
      </button>
    </div>

    <div class="col">
      <button type="button" class="btn btn-dark buttons" (click)="addQuiz(this.quiz.thirdTrackId)">
        C. {{this.quiz.thirdTrackTitle}}
      </button>
    </div>

  </div>


</div>
