<div class="container text-md-center">

  <div class="row">

    <div class="col">
      {{this.quiz.words}}
    </div>

  </div>

  <div class="row">

    <div class="col" (click)="addQuiz(this.quiz.firstTrackId)">
      {{this.quiz.firstTrackTitle}}
    </div>

    <div class="col" (click)="addQuiz(this.quiz.secondTrackId)">
      {{this.quiz.secondTrackTitle}}
    </div>

    <div class="col" (click)="addQuiz(this.quiz.thirdTrackId)">
      {{this.quiz.thirdTrackTitle}}
    </div>

  </div>


</div>
