<div class="container">
  <div class="row">

    <div class="col" *ngFor="let tempArtist of this.artists">


      <div class="fill"
           style="background-image: url('{{tempArtist.image}}');">
        <p>
          <br/><br/><br/><br/><br/><br/>
          <a routerLink="/artist/{{tempArtist.id}}">
            <b>{{tempArtist.nickname.toUpperCase()}} <br/>
              {{tempArtist.firstName}} {{tempArtist.lastName}}
            </b>
            <br/>
          </a>
        </p>
      </div>


    </div>

  </div>

</div>


