<div class="form-signin">

  <form>
    <h1 class="h3 mb-3 fw-normal">Add artist</h1>

    <input type="text" class="form-control" [(ngModel)]="artistRequest.nickname" name="username" placeholder="Nickname">
    <input type="text" class="form-control" [(ngModel)]="artistRequest.firstName" name="firstName" placeholder="First name">
    <input type="text" class="form-control" [(ngModel)]="artistRequest.lastName" name="lastName" placeholder="Last name">
    <input type="date" class="form-control" [(ngModel)]="artistRequest.birthDate" name="birthDate" placeholder="Birth date">
    <label>Choose Image:</label>
    <input type="file" id="formFile" class="form-control" [(ngModel)]="artistRequest.image" name="image" placeholder="Image"
      (change)="this.onFileChange($event)" >
    <button type="button" class="w-100 btn btn-secondary my-3">Upload file</button>

    <button class="w-100 btn btn-lg btn-dark" type="submit" (click)="this.addArtist()">Add Artist</button>
  </form>

</div>
